/*-- scss:rules --*/
/* to use the question callout add theme: custom.scss to _quarto.yml */

.question {
  margin: 1em 0;
  border: 2px solid lightgray;
  border-left: 7px solid #467AAC; 
  border-radius: 7px;
}

.question-header {
  margin-left: 0em;
  padding-left:  32px;
  padding-top:  0px;
  padding-bottom: 0.001px;
  position: center;
  /*color: black;*/
  background-color: rgb(232, 244, 252);
  border-top-right-radius: 7px;
  /*font-size: 0.9em;*/
  font-weight: bold;
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-image: url("icons/question_mark.png");
}

.question-container {
  padding-top: 0px;
  padding-left: 10px;
  margin-right: 10px;
  /*color: black;*/
  background-color: white;
  border-bottom-right-radius: 7px;
}

.example {
  margin: 1em 0;
  border: 2px solid lightgray;
  border-left: 7px solid #467AAC; 
  border-radius: 7px;
  overflow: hidden;

  .example-header {
    margin-left: 0em;
    padding-left:  5px;
    padding-top:  12px;
    padding-bottom: 0.001px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(232, 244, 252);
    border-top-right-radius: 7px;
    font-weight: bold;
    /*font-size: 0.9em;*/
    font-weight: bold;
    cursor: pointer;

    .toggle-btn {
      background: none;
      border: none;
      font-weight: bold;
      cursor: pointer;
      color: inherit;
    }
  }

  .example-container {
    padding: 10px;
    background-color: white;
    border-bottom-right-radius: 7px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    /*max-height: 0;*/
    opacity: 1;
    overflow: hidden;

    &.collapsed {
      max-height: 0;
      opacity: 0;
      padding: 0 10px;
    }
  }
}


$code-color: #003B4F;

// in-line code
code {
  color: #{$code-color};
}


/* Change hyperlink colors */
a {
  color: #39729E; /* Normal state */
}

a:hover {
  color: #275C9B; /* Hover state */
}

a:visited {
  color: #39729E; /* Visited state */
}


